.nav {
    background-color: #000000;
    width:1920px;
    position: fixed;
    overflow: hidden; 
    max-width: 100%;
}

.navi__link {
    font-size: 45px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:#ffffff;
    padding: 14px 16px;
}

.navi__item {
    float:left;
}

.navi__link:hover {
    background-color: lightgreen;
}

.navi__dropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 225px;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;
}

.navi__link--dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navi__item--has-dropdown:hover .navi__dropdown {
    display: block;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
}

.head_navi{
    height:auto;
}

.navi__link--dropdownbutton {
    background: url("../img/drpbtn.svg") no-repeat;
    background-position:right;
    background-size:20px;
    
}

.navi__dropdown-item:hover {
    background: #cedbe1;
}