/* Basic feel of the page */
body {
    background-color:#dddcf7;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #31b1e8;
    text-align: center;
    margin-bottom:20px;
}

div { 
    display:block;
}

#footer {
    background-color:#000000;
    color: #ffffff;
    height:50px;
    text-align: center;
    font-size:35px;
}

span {
    color:#f5f600;
}
/* End of basic feel of the page */



/* Start of parallax */
.parallax {
    margin-top: -30px;
    margin-bottom: 30px;
    padding-top:50px;
    background-image: url("../img/lynx2.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.parallax--second {
    background-image: url("../img/lynx3.jpg");
}

.parallax--second__two {
    margin-bottom:-30px;
    padding-bottom:30px;
}
/* End of parallax */
    



/* Content */
.main {
    padding-top:150px;
    height:100%;
    background-color:#000000;
    font-family: 'Roboto', sans-serif;
    font-size:55px;
    text-align: center;
}

.main--two {
    margin-top:150px;
    background-color:rgba(145, 145, 145,0.7);
    font-family: 'Montserrat', sans-serif;
    padding-top:0;
}

.main--three {
    font-family: 'Arial', sans-serif;
    font-size:40px;
}

.main--four {
    font-size:33px;
    text-decoration:line-through;
}

.main--five {
    font-family: 'Roboto', sans-serif;
    font-size:50px;
}

.main--six {
    font-size:60px;
}

/* End of content */

/* Floating images */
.img{
    border-radius:50%;
    float:left;
    width:150px;
    height:150px;
    padding:15px 0 0 15px;
}

.img--two{
    float:right;
}

/* End of floating images */

